body {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.intro {
  font-family: 'avenir next', avenir, sans-serif;
  font-size: 120px;
  width: 800px;
  text-align: center;
  padding-top: 20px;
}

.about-me,
.intro-subheading {
  font-family: 'avenir next', avenir, sans-serif;
  font-size: 30px;
  width: 800px;
  text-align: center;
}

header,
footer {
  width: 100%;
  padding: 2% 0;
  font-size: 1.2rem;
  color: #fff;
  flex: 0;
}

.header {
  font-size: 45px;
}

footer {
  background: #727171;
}


.sidenav,
.sidebar {
  background: white;
  position: fixed;
  width: 140px;
  position: fixed;
  z-index: 2;
  top: 70px;
  left: 30px;
  background-color: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  font-size: 13px;
  line-height: 1.7;
  padding-left: 15px;
}


.img-circle {
  border-radius: 50%;
  border: #fff 8px solid;
  width: 150px;
  padding-top: 50px;
}

.main {
  text-align: justify;
  width: 800px;
  overflow: hidden;
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0 80px;
  padding-top: 100px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 13px;}
    .sidenav a {font-size: 13px;}
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

hr {
    color: gray;
    display: block;
    margin: 15.5em auto;
}


.section-home {
  padding-top: 100px;
}

.section-about {
  padding-top: 120px;
}

.section-skills {
  padding-top: 100px;
}

.section-projects {
  padding-top: 80px;
}

.section-now {
  padding-top: 100px;
}
